<!-- app/views/registration/new.html.erb -->
<div class='formsign'>
 <h1 class=''><span class='titlehighlight'>Sign</span> up</h1>

<%= form_with model: @user, local: true, data: { turbo: false }, url: sign_up_path do |form| %>

    <% if @user.errors.any? %>
        <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message|%>
        <div class='m-5'>
        <%= message %> <% end %>
        </div>
        </div>
    <% end %>
   
    <div class="forminput ">
    
 <%= form.label :email, "Email Address",class:'form-label' %>
   
    
 <%= form.text_field :email, class: "form-control", placeholder: "myname@email.com" %>
    
       
       
    </div>
    <div class="forminput">
        <%= form.label :password, "Password",class:'form-label' %> 
        <%= form.password_field :password,  class: "form-control", placeholder: "strong password"%>
    </div>
    <div class='forminput'>
    <%= form.label :password_confirmation,class:'form-label' %>
    <%= form.password_field :password_confirmation,class:'form-control', required: true %>
  </div>
    <div class="forminput">
        <%= form.submit "Sign Up", class: 'buttonsubmit' %>
    </div>
    <%= link_to "Sign In", log_in_path, class: "btn btn-primary" %>

<% end %>
 
 <div>



 