<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body class='container'>
  <%if user_signed_in?%>
  <%= link_to "Edit Password","#"%>
  <%= button_to  "Log out" ,logout_path,method: :delete%>
     <%else%>
     <div class='nav'>
      <%= link_to "Sign Up",sign_up_path%>
     <%= link_to "Log in",log_in_path %>
     </div>
    
     <%end%>
      <%= yield %>
    
    
  </body>
</html>
